* {
	margin: 0;
	padding: 0;
}
@font-face {
	src: url(./font/NunitoSans-Regular.ttf);
	font-family: nunito;
}
body {
	font-family: nunito;
}
.background {
	height: fit-content;
	width: 56%;
	left: 0;
	top: 0;
	position: absolute;
}
.background img {
	object-fit: fill;
	height: 100vh;
	width: 100%;
}

/*Left Side*/
.left-side {
	height: fit-content;
}
.logo {
	color: white;
	font-size: 28px;
	font-weight: 700;
	margin-top: 40px;
}
.left-side img {
	width: 440px;
	margin-top: -70px;
}
.app-that {
	color: white;
	font-size: 22px;
	font-weight: 600;
	margin-top: -30px;
}
.desc-zwallet {
	color: rgba(255, 255, 255, 0.8);
	width: 80%;
	font-size: 15px;
}

/* Right Side */
.right-side {
	height: fit-content;
	margin-bottom: 20px;
}
.right-side > img {
	margin-top: 70px;
	margin-bottom: 20px;
}
.your-pin {
	font-size: 24px;
	font-weight: 600;
	margin-top: 30px;
}
.pin-was {
	font-size: 14px;
	color: rgba(58, 61, 66, 0.6);
	line-height: 30px;
}
.btn-confirm {
	margin-top: 50px;
	width: 100%;
	height: 50px;
	background: #6379f4;
	box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-confirm p {
	margin: 0;
	color: white;
}
/* End Right Side */
@media screen and (max-width: 992px) {
	.background {
		height: 700px;
	}
	.background img {
		height: 800px;
		width: 100%;
	}
	.left-side img {
		width: 400px;
		margin-top: -50px;
	}
}
@media screen and (max-width: 768px) {
	.ledt-side {
		height: 100%;
	}
	.background img {
		height: 580px;
		width: 100%;
	}
	.background {
		width: 100%;
		height: 99%;
	}
	.left-side img {
		width: 330px;
		margin-top: -30px;
	}
}
@media screen and (max-width: 576px) {
	.background img {
		height: 580px;
	}
	.desc-zwallet {
		width: 100%;
	}
	/* Right Side */
	.right-side {
		display: flex;
		flex-direction: column;
	}
	.right-side > img {
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 380px) {
	.logo {
		font-size: 22px;
		font-weight: 600;
		margin-top: 30px;
	}
	.app-that {
		font-size: 18px;
		margin-top: -20px;
	}
	.desc-zwallet {
		width: 100%;
		font-size: 13px;
	}
	.left-side img {
		margin-top: -50px;
	}
	.col-md-7 {
		height: 100vh;
	}
	/* Right Side */
	.secure-your {
		font-size: 19px;
		font-weight: 400;
	}
	.create-pin {
		font-size: 12px;
	}

	.your-pin {
		font-size: 16px;
		font-weight: 600;
		margin-top: 30px;
	}
	.pin-was {
		font-size: 11px;
		color: rgba(58, 61, 66, 0.6);
		line-height: 30px;
	}
	.btn-confirm {
		margin-top: 10px;
		height: 40px;
	}
}
