* {
	margin: 0;
	padding: 0;
}
@font-face {
	src: url(./font/NunitoSans-Regular.ttf);
	font-family: nunitosans;
}
body {
	background: rgba(105, 126, 248, 0.2);
	font-family: nunitosans;
}
nav {
	position: top;
	left: 0;
	right: 0;
	height: 70px;
	background-color: rgb(255, 255, 255);
	border-radius: 0 0 10px 10px;
}
.logo {
	font-size: 24px;
	padding: 18px;
	color: #6379f4;
	margin-left: -16px;
}
.profile-bar {
	display: flex;
	float: right;
	margin: 10px 0;
}
.name-phone {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}
.name-phone > .name {
	font-weight: 600;
	font-size: 19px;
}
.name-phone > .phone {
	margin-top: 2px;
	font-size: 13px;
}
.name-phone p {
	margin: 0;
}
/* Main */
/* Dashboard */
.dashboard {
	width: 100%;
	height: fit-content;
	background-color: white;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	padding: 50px 35px;
}

.icon {
	display: flex;
	margin-bottom: 20px;
}
.icon > p {
	margin-left: 20px;
	font-size: 14px;
}
.log-out {
	margin-top: 285px;
}
.log-out p {
	margin: 0;
}

/* content */
.transfer-container {
	background-color: white;
	width: 100%;
	height: 640px;
	border-radius: 20px;
	padding: 40px;
	position: relative;
}
.transfer-container p {
	margin: 0;
}
.responsive-text {
	color: #7a7886;
	font-size: 14px;
	width: 40%;
}
.card-person {
	margin-top: 30px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 16px;
}
.identy {
	margin-left: 15px;
}

.input-transfer {
	margin-top: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.input-transfer .nominal {
	color: #b5bdcc;
	font-size: 45px;
	font-weight: 700;
}
.add-notes {
	position: relative;
	margin-top: 60px;
}
.add-notes img {
	position: absolute;
	bottom: 7px;
}
.add-notes input {
	padding: 5px 40px;
	border: none;
	border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
	font-size: 14px;
}
.add-notes input:focus {
	outline: none;
}
.btn-transfer {
	background: #6379f4;
	box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
	border-radius: 12px;
	margin-top: 80px;
	padding: 9px 35px;
	position: absolute;
	bottom: 40px;
	right: 40px;
}
.btn-transfer p {
	font-size: 14px;
	margin: 0;
	color: white;
}
/* Footer */
footer {
	margin-top: 22px;
	background: #6379f4;
	padding: 3px 0;
	width: 100%;
}
.contact {
	justify-content: space-between;
	align-items: center;
}
footer p {
	margin: 13px 0;
	color: white;
	font-size: 13px;
}
/* Laptop */
@media screen and (max-width: 992px) {
	.dashboard {
		height: fit-content;
		margin-bottom: 8px;
		padding: 20px 35px;
	}
	.icon {
		margin-bottom: 20px;
	}
	.icon > p {
		margin-left: 20px;
		font-size: 14px;
	}
	.log-out {
		margin-top: 0;
	}
}

/* Tablet */
@media screen and (max-width: 768px) {
	.profile-bar {
		margin-left: -90px;
	}
	.name-phone > .name {
		font-size: 14px;
	}
	.name-phone > .phone {
		font-size: 12px;
	}
	.dashboard {
		flex-direction: row;
		justify-content: space-between;
		height: fit-content;
		padding: 20px 35px;
	}
	.active {
		display: none;
	}
	.icon {
		width: fit-content;
		margin: auto;
		margin: 0;
	}
	.log-out {
		font-size: 14px;
	}
	.log-out p {
		margin-left: 0 !important;
	}
	.icon > p {
		margin-left: 2px;
		font-size: 14px;
	}
}

/* Phone */
@media screen and (max-width: 576px) {
	.transfer-container {
		height: 700px;
	}
	.dashboard {
		padding: 10px 25px;
	}
	.active {
		display: none;
	}
	.responsive-text {
		width: 80%;
	}
	.icon {
		width: fit-content;
		margin: auto;
		margin: 0;
	}
	.log-out {
		font-size: 14px;
	}
	.log-out p {
		margin-left: 0 !important;
		display: none;
	}
	.icon > p {
		display: none;
	}
}

@media screen and (max-width: 390px) {
	.transfer-container {
		height: 730px;
	}
	footer .coba {
		text-align: center;
	}
}
